body {
    background-image: url(../images/galaxy1.jpg);
}
@keyframes grade10 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.header {
  height: 15vh;

}
.menu a {
	text-decoration: none;
  color: orange;
  height: 14vh;
  position: relative;
  float: left;

}
.footer {
    color: yellow;
    text-align: center;

}
.menu {
  display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
  line-height: : 10px;
  background-image: url(../images/galaxy.jpg);
  margin: 0px;

}

#header {
	padding: 2px;
	transition: all .2s ease-out;
	border: 2px orange solid;
	color: orange;
	text-align: center;
	font-family: Impact;
	border-radius: 6px;
  position: relative;



}
#header:hover {
  background-color: white;
  color: black;
  border: 2px black solid;

}
#logo {
  text-indent: -999999px;
  background-image: url(../images/poppy.jpg);
  height: 120px;
  width: 100px;
  border-radius: 900px;
  margin: 0 0 0px 80px;;
  text-indent: -99999999px;
  height: 14vh;
    transition: all .5s ease;

}
#logo:hover {
  transform: scale(1.3);
  transition: all .5s ease;
}
.slideshow {
  border: 2px black solid;
  height: 83vh;
  overflow: hidden;
  position: relative;
  display: flex;
	flex-direction: column;
	justify-content: center;
}

.slide  {
  background-position: top;
  background-size: cover;
  background-image: url(../images/zed.jpg);
  background-repeat: no-repeat;
  animation: grade10 20s linear infinite 0s;
}
.slide2 {
  background-position: top;
  background-size: cover;
  background-image: url(../images/yasuo.jpg);
  background-repeat: no-repeat;
  animation: grade10 20s linear infinite 5s;
}
.slide3 {
  background-position: top;
  background-size: cover;
  background-image: url(../images/evelyn.jpg);
  animation: grade10 20s linear infinite 10s;
}
.slide4 {
  background-position: top;
  background-size: cover;
  background-image: url(../images/dawn.jpg);
  background-repeat: no-repeat;
  animation: grade10 20s linear infinite 15s;
}
.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity:0;
}

.roles {
  height: 55vh;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap:5px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 5px;
}
.roles1 {
  height: 55vh;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:5px;
  margin-left: 100px;
  margin-right: 100px;
}
.top {
  border: 2px black solid;
  background-image: url(../images/zed1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  grid-column: 1/3;
  text-align: center;
  vertical-align: center;
  box-shadow: 2px 2px;
  transition: .all 5s ease-out;

}
.top:hover {
  border: 2px black solid;
-webkit-filter: blur(5px) brightness(95%);
transition: all .2s ease-out;
  font-size: 0;
}
.top:hover:after {
  content: attr(data-hover);
    font-size: 24px;
  line-height: 28px;
  filter: blur(0px);
}
.jungle{
  border: 2px black solid;
  background-image: url(../images/khazix.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  grid-column: 3/5;
  box-shadow: 2px 2px;
}

.jungle:hover {
  border: 2px black solid;
-webkit-filter: blur(5px) brightness(95%);
transition: all .2s ease-out;
}
.mid{
  border: 2px black solid;
  background-image: url(../images/yasuo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 5/7;
  float: left;
  box-shadow: 2px 2px;

}

.mid:hover {
  border: 2px black solid;
-webkit-filter: blur(5px) brightness(95%);
transition: all .2s ease-out;

}
.bot{
  border: 2px black solid;
  background-image: url(../images/vayne.png );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  grid-column: 1/3;
  box-shadow: 2px 2px;
}

.bot:hover {
  border: 2px black solid;
-webkit-filter: blur(5px) brightness(95%);
transition: all .2s ease-out;
}
.support {
  border: 2px black solid;
  background-image: url(../images/malphite.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  grid-column: 3/5;
  box-shadow: 2px 2px;
}

.support:hover {
  border: 2px black solid;
-webkit-filter: blur(5px) brightness(95%);
transition: all .2s ease-out;
}
#credits {
  text-align: center;
  color: yellow;
}
h1 {
  color: yellow;
  text-align: center;
  font-family: sans-serif;
  background-image: url(../images/galaxy1.jpg);
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 600px;
}
#qwe {
  text-decoration: none;
  color: orange;
  text-align: center;
  opacity: 0;
}
